@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, .App, #root, #app>div {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
.bebas_font {
  font-family: 'Bebas Neue', sans-serif;
}
.wix_font{
  font-family: 'Wix Madefor Text', sans-serif;
}